# Build outputs
**/build/
*.apk
*.aab
*.ap_
*.dex

# Gradle
.gradle/
local.properties


app/build 

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android Studio
captures/
.externalNativeBuild/
.cxx/

# Signing
*.jks
*.keystore

# Kotlin
*.kotlin_module

# Generated
*.hprof

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
